@(currentUser: User, role: String, users: List[User])
@import helper._
@import helper.twitterBootstrap._


@main(currentUser, role, "Lista użytkowników", false){
<meta charset="UTF-8">

	<div class="container panel panel-default">
	<h1 align="center">Lista użytkowników <span class="pull-right">@if((session.get("role") == "SuperUser")){
			<a rel="tooltip" title="Dodaj nowego użytkownika użytkownika" href="@routes.Users.newUser()" class="btn btn-primary" >
			<i class="glyphicon glyphicon-plus"></i> Dodaj</a>}</span></h1>
	<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>email</th>
					<th>Wiek</th>
					<th>Zmień</th>
					<th>Usuń</th>
				</tr>
			</thead>
			<tbody>
			@if(users.size() == 0){
				<tr>
					<td>
						<h3>Brak użytkowników !</h3>
					</td>
				</tr>
			}
			@for(user <- users) {
				<tr>
					<td><a href="@routes.Users.editUser(user._id)"><b>@user.firstName</b></a></td>
					<td><a href="@routes.Users.editUser(user._id)"><b>@user.lastName</b></a></td>
					<td>@user.email</td>
					<td>@user.age</td>
					<td>
						<a rel="tooltip" title="Zmień dane użytkownika" href="@routes.Users.editUser(user._id)">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
					</td>	
					<td>
						<a rel="tooltip" title="Usuń użytkownika" data-toggle="modal" data-target="#confirmModal" data-user-id="@user._id" data-user-first-name="@user.firstName" data-user-last-name="@user.lastName">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				</tr>
			}
			</tbody>
		</table>
		<br>	
	</div>
  
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <h3 class="modal-title" id="myModalLabel">Ostrzeżenie o usunięciu użytkownika!</h3>
	            </div>
	            <div class="modal-body">
	                <h5>Uwaga, usunięcie jest <b>nieodwracalne</b>!<br> Czy napewno chcesz <b>usunąć</b> użytkownika - <b id="userToDelete" ></b>?</h5>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
	                <a  id="deleteLink" href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Usuń użytkownika</a>
	        </div>
	    </div>
	  </div>
	</div>
	
	<script type="text/javascript">
		$('#confirmModal').on('show.bs.modal', function(e) {
			var userName = $(e.relatedTarget).data('user-first-name');
			userName += " ";
			userName += $(e.relatedTarget).data('user-last-name')
			var userId = "/users/delete/";
		    userId += $(e.relatedTarget).data('user-id');
		    $(e.currentTarget).find('b[id="userToDelete"]').text(userName);
		    $(e.currentTarget).find('a[id="deleteLink"]').attr("href", userId);
		});
	</script>
}

<!--  @@Author(name="Lukas Pecak") -->