@(currentUser: User, role: String, payments: List[Payment], users: List[User])
@import helper._
@import helper.twitterBootstrap._


@main(currentUser, role, "Lista płatności"){
<meta charset="UTF-8">

	<div class="container">
	<h1 align="center">Lista płatności</h1>
	<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tytuł</th>
					<th>Kwota</th>
					<th>Status</th>
					<th>Użytkownik</th>
					@if((session.get("role") == "SuperUser") || (session.get("role") == "PaymentManager")){
					<th>Zmień</th>
					<th>Usuń</th>
					}
				</tr>
			</thead>
			<tbody>
			@for(payment <- payments) {
				<tr>
					<td><a href="@routes.Payments.editPayment(payment._id)"><b>
					@payment.paymentType
						@if(payment.paymentType == "MonthlyFee") {Opłata miesięczna}
						@if(payment.paymentType == "PenaltyForEquipmentDamage") {Opłata za uszkodzony sprzęt}
						@if(payment.paymentType == "CourseCost") {Opłata za kurs}
						
					</b></a></td>
					<td>
						@if(payment.amount != null){@payment.amount} else{Nie określono}
					</td>
					<td>
					@payment.paymentStatus
						@if(payment.paymentStatus == "WaitingForPayment") {Oczekiwanie na płatność}
						@if(payment.paymentStatus == "NotPayed") {Nie zapłacone}
						@if(payment.paymentStatus == "Payed") {Zapłacone}
					</td>
					
					<td>
						@for(user <- users){
							@if(user._id == payment.user_id){
								@user.toString()
							}
						}
					
					</td>
					
					
					@if((session.get("role") == "SuperUser") || (session.get("role") == "PaymentManager")){
					<td>
					 		<a href="@routes.Payments.editPayment(payment._id)">
							<i class="glyphicon glyphicon-pencil"></i></a>

					</td>
					<td>
					 		<a data-toggle="modal" data-target="#confirmModal" data-payment-id="@payment._id" data-payment-amount="@payment.amount">
							<i class="glyphicon glyphicon-remove"></i></a>	
					</td>
					}
				</tr>
			}
			</tbody>
		</table>
		@if((session.get("role") == "SuperUser") || (session.get("role") == "PaymentManager")){
		<a href="@routes.Payments.createPayment()" class="btn btn-primary" >
			<i class="glyphicon glyphicon-plus"></i> Dodaj płatność
		</a>
		}
	</div>
    
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <h3 class="modal-title" id="myModalLabel">Ostrzeżenie o usunięciu płatności!</h3>
	            </div>
	            <div class="modal-body">
	                <h5>Uwaga, usunięcie jest <b>nieodwracalne</b>!<br> Czy napewno chcesz <b>usunąć</b> płatność wartości - <b id="paymentToDelete" ></b> złotych ?</h5>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
	                <a  id="deleteLink" href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Usuń płatność</a>
	        </div>
	    </div>
	  </div>
	</div>
	<script type="text/javascript">
		$('#confirmModal').on('show.bs.modal', function(e) {
			var paymentName = $(e.relatedTarget).data('payment-amount');
			var paymentId = "/payments/delete/";
		    paymntId += $(e.relatedTarget).data('payment-id');
		    $(e.currentTarget).find('b[id="paymentToDelete"]').text(paymentName);
		    $(e.currentTarget).find('a[id="deleteLink"]').attr("href", paymentId);
		});
	</script>
}

<!--  @@Author(name="Lukas Pecak") -->