@(courses: List[Course])
@import helper._
@import helper.twitterBootstrap._

@main("Lista kursów"){

<script>
function del(urlToDelete) {
	$.ajax({
		url: urlToDelete,
		type: 'DELETE',
		success: function(results) {
		// Refresh the page
		location.reload();
	}
	});
}
</script>
<meta charset="UTF-8">
<div class="container">
<h1 align="center">Lista kursów</h1>
<br>
<table class="table table-striped">
<thead>
<tr>
<th>Nazwa kursu</th>
<th>Typ kursu</th>
<th>Ilość kursantów</th>
<th>Kierownik kursu</th>
<th>Instruktor prowadzący</th>
<!--
<th>Fee Status</th>
<th>Houers Points</th>
-->

<th>Zmień/Usuń</th>
</tr>
</thead>
<tbody>
@for(course <- courses) {
<tr>
	<td>@course.name</td>
	<td>@course.courseType</td>
	<td>@course.members.size</td>
	<td>@course.manager.firstName @course.manager.lastName</td>
	<td>@course.instructor.firstName @course.instructor.lastName</td>
	<!-- 
	
	-->
	<td>
		&nbsp&nbsp
		<a href="@routes.Courses.editCourse(course._id)">
		<i class="glyphicon glyphicon-pencil"></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="@routes.Courses.deleteCourse(course._id)">
		<i class="glyphicon glyphicon-remove"></i></a>
	</td>
</tr>
}
</tbody>
</table>
<a href="@routes.Courses.newCourse()" class="btn btn-primary">
<i class="glyphicon glyphicon-plus"></i>&nbsp&nbspDodaj kurs</a>
</div>
}






<!--  @@Author(name="Lukas Pecak") -->