@(currentUser: User, role: String, courseForm: Form[Course], course: Course, users: List[User], courseId: String)
@import helper._
@import helper.twitterBootstrap._
@import models.User; var instructor = null; var manager = null
@import scala.Predef; var i = 0

@main(currentUser, role, "Kurs", true){
	<meta charset="UTF-8">
	<div class="container col-md-offset-2 col-md-8">
		@helper.form(action = routes.Courses.saveCourse(courseId),  'enctype -> "multipart/form-data") {
			<fieldset>
				<legend>
					<div class="container row">
						<div class="col-md-5">
							<h1>@courseForm("name").valueOr("Nowy kurs")  @if(courseForm("name").value() == ""){Kurs bez nazwy !}</h1>
						</div>
						<div class="col-md-6">
					   		<span class="pull-right">
					    		<a rel="tooltip" title="Powrót bez zapisywania zamian" class="btn btn-danger" href="@routes.Courses.getCourses()">Powrót</a> 
								<input rel="tooltip" title="Zapisz zmiany w kursie" type="submit" class="btn btn-primary" value="Zapisz kurs">
					    	</span>
						</div>
					</div>
				</legend>	
				<div class="col-md-5 panel panel-default">
					<div class="col-md-offset-0">
						<h3 align="center">Dane kursu</h3>
						<hr>
						@helper.inputText(courseForm("name"), '_label -> "Nazwa kursu",  'class -> "form-control", 'placeholder -> "Wprowadź nazwę kursu")		
						@helper.textarea(courseForm("description"), '_label -> "Opis",  'class -> "form-control", 'placeholder -> "Informacje o kursie", 'rows -> 10)
						<br>	
					</div>
				</div>
				<!-- The panel with the information about people responsible for the course -->	
				<div class="col-md-6 col-md-offset-1  panel panel-default">			
					<h3 align="center">Osoby związane z kursem</h3>
					<!-- Part for the course manager -->	
					<hr>	
						<div class="clearfix col-md-offset-1 row center" id="manager_id_field">
							<div class="col-md-11">
								<!-- <span class="pull-left"> -->
									<label for="manager_id">Kierownik kursu :  </label>
								    <b id="manager_name">
									@if(course != null){
										@if((course.manager_id != null) && (course.manager_id != "")){
											@for(user <- users){
												@if(user._id == course.manager_id){
													@user.toString()
												}
											}
										} else{
											Brak!
										}
									}
								   	</b>
								   	<span class="pull-right">
									<a class="link" id="courseManagerLink" data-toggle="modal" data-target="#chooseModal">
								    @if((course.manager_id == null) || (course.manager_id == "")){		
								    	<i rel="tooltip" title="Dodaj/Zmień kierownika kursu" id="add_change_icon" class="glyphicon glyphicon-plus"></i>								    		
								    } else{
								    	<i rel="tooltip" title="Zmień kierownika kursu"  class="glyphicon glyphicon-edit"></i>
								    }
								    </a>								    	
							    </span>
							    <!-- </span> -->
							</div>	
							<input hidden id="manager_id" name="manager_id" value="@course.manager_id"></input> 
						</div>
						<hr>					
						<!-- Part for the instructors involved with the course -->
						<div class="clearfix col-md-offset-1 col-md-10" id="instructors_ids_field">
							@if(course != null){
								@if((course.instructors_ids == null) || (course.instructors_ids.size() == 0)){
									<b>Brak instruktorów przydzielonych do kursu!</b>
								} else{
									<b>Lista instruktorów związanych z kursem :<br> </b>
									@for(instructor <- course.instructors_ids) {
										@for(user <- users){
											@if(user._id == instructor){
												@if(i != 0) {, }
													@user.toString()
													@{i = i+1}
												} 
											}	  
										}
									}
								}								    	
						</div>
						<br>
						<br>
						<hr>
						<div class="col-md-offset-1 col-md-10 row center">
							<table class="table">
								<thead>
									<th data-align="center">Uczestnicy kursu</th>
							        <th data-align="center">Usuń <span class="pull-right"><a rel="tooltip" title="Dodaj nowego kursanta"><i class="glyphicon glyphicon-plus"></i></a></span></th>
								</thead>
								<tbody>
								<tr>
									<td>Lukas Pecak</td>
									<td>
										<a rel="tooltip" title="Usuń kursanta">
											<i class="glyphicon glyphicon-remove"></i>
										</a>	
									</td>
								</tr>
								<tr>
									<td>Danie Pęcak</td>
									<td>
										<a rel="tooltip" title="Usuń kursanta">
											<i class="glyphicon glyphicon-remove"></i>
										</a>	
									</td>
								</tr>
								<tr>
									<td>Julia Pecak</td>
									<td>
										<a rel="tooltip" title="Usuń kursanta">
											<i class="glyphicon glyphicon-remove"></i>
										</a>	
									</td>
								</tr>
								<tr>
									<td>Bronek Pecak</td>
									<td>
										<a rel="tooltip" title="Usuń kursanta">
											<i class="glyphicon glyphicon-remove"></i>
										</a>	
									</td>
								</tr>
								<tr>
									<td>Lukas Kowalski</td>
									<td>
										<a rel="tooltip" title="Usuń kursanta">
											<i class="glyphicon glyphicon-remove"></i>
										</a>	
									</td>
								</tr>
									
									
									
									
									
								</tbody>
							</table>
							
						</div>
						<br>
						<br>
						<br>													
				</div>
				<div class="col-md-12 panel panel-default">
					<h3 align="center">Spotkania grup kursowych <span class="pull-right">
					<input rel="tooltip" title="Nowe spotkanie" type="submit" class="btn btn-primary" value="Dodaj" id="addMeeting"></input></span> </h3>
					<br>
					@if(course != null){
						@if(course.meetingHistory != null){
							<table class="table  table-striped" data-url="/courses">
								<thead>
									<tr>
							            <th data-field="group" data-align="center">Grupa</th>
							            <th data-field="instructor" data-align="center">Instruktor</th>
							            <th data-field="date" data-align="center">Data</th>
							            <th data-field="place" data-align="center">Miejsce</th>
							            <th data-field="subject" data-align="center">Temat</th>
							            <th data-align="center">Zmień / Usuń</th>  
									</tr>
								</thead>
								<tbody>
									@for(meeting <- course.meetingHistory){
										<tr>
											<td>@meeting.group</td>
											<td>@for(user <- users){
													@if(user._id == meeting.instructor_id){
														@user.toString()
													}
											}
											</td>
											<td>@meeting.date</td>
											<td>@meeting.place</td>
											<td>@meeting.subject</td>
											<td>
												<span class="col-md-offset-1">	
													<a>	
														<i rel="tooltip" title="Edytuj dane spotkania" name="editMeeting" data-meeting-to-edit="@meeting._id" class="glyphicon glyphicon-pencil"></i>
													</a>
					 							</span>
											 	<span class="col-md-offset-2">
											 		<a data-toggle="modal" data-target="#confirmDeleteMeetingModal" data-meeting-id="@meeting._id" data-meeting-name="Grupa @meeting.group Spotkanie : @meeting.subject">
														<i rel="tooltip" title="Usuń spotkanie" class="glyphicon glyphicon-remove"></i>
													</a>
											 	</span>
											 </td>
										</tr>
									}
								</tbody>
							</table>
						}else{ 
							<h4>Brak zaplanowanych wydarzeń!</h4>
						}
					}
				</div>
			</fieldset>	
		}
	</div>
	
	<!-- The modal for meeting delete confirmation -->
	<div class="modal fade" id="confirmDeleteMeetingModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
		            <h3 class="modal-title" id="myModalLabel">Ostrzeżenie o usunięciu spotkania kursowego!</h3>
		            <br>
	            </div>
	            <div class="modal-body">
	                <h5>Uwaga, usunięcie jest <b>nieodwracalne</b>!<br> Czy napewno chcesz <b>usunąć</b> grupę - <b id="meetingToDelete"></b>?</h5>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
	                <a  id="deleteMeetingLink" href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Usuń spotaknie</a>
	        	</div>
	    	</div>
	  	</div>
	</div>
	
	<!-- The modal for chosing the course manager --> 
	<div class="modal fade" id="chooseModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            	<h3 class="modal-title" id="myModalLabel">Wybierz użytkowanika</h3>
	            </div> 
	            <div class="modal-body">
					<!-- <table data-url="/users" data-height="299" data-click-to-select="true" data-select-item-name="radioName">-->
					<table class="table  table-striped" data-url="/users"  data-click-to-select="true" data-select-item-name="radioName">
						<thead>
							<tr>
								<th data-field="state" data-radio="true"></th>
					            <th data-field="firstName" data-align="right">Imię</th>
					            <th data-field="lastName" data-align="center">Nazwisko</th>
					            <th data-field="email" data-align="left">email</th>
							</tr>
						</thead>
						<tbody>
							@for(user <- users) {
								<tr>
									<td><input id="@user._id" data-manager-name="@user.toString()" type="radio" name="chooseUser"></td>
									<td>@user.firstName</td>
									<td>@user.lastName</td>
									<td>@user.email</td>
								</tr>
							}
						</tbody>
					</table>
					<!-- <h1 id="speaker"></h1> -->
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
	                <a  id="chooseLink" href="#" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Wybierz</a>
	       		</div>
	    	</div>
	  	</div>
	</div>
	
	<script type="text/javascript">
		$('#chooseModal').on('show.bs.modal', function(e) {  
		});
		
		$('#confirmDeleteMeetingModal').on('show.bs.modal', function(e) {
			var meetingName = $(e.relatedTarget).data('meeting-name');
			var deleteString = "/courses/"
			deleteString += "@courseId"
			deleteString += "/meetings/delete/"
			deleteString += $(e.relatedTarget).data("meeting-id")
		    $(e.currentTarget).find('b[id="meetingToDelete"]').text(meetingName)
		    $(e.currentTarget).find('a[id="deleteMeetingLink"]').attr("href", deleteString)
		});
		
		 $("input[name='chooseUser']").click(function(e){
			var user = $("input[name='chooseUser']:checked").attr('id')
			var userName = $("input[name='chooseUser']:checked").attr('data-manager-name')
			$("input[id='manager_id']").val(user)
			$("b[id='manager_name']").text(userName)
			$("i[id='add_change_icon']").attr('class',"glyphicon glyphicon-edit")
		}); 
		
		$("a[id='chooseLink']").click(function(e){
			var user = $("input[name='chooseUser']:checked").attr('id')
			var userName = $("input[name='chooseUser']:checked").attr('data-manager-name')
			$("input[id='manager_id']").val(user)
			$("b[id='manager_name']").text(userName)
			$("i[id='add_change_icon']").attr('class',"glyphicon glyphicon-edit")
			$("i[id='add_change_icon']").attr('title',"Zmień kierownika kursu")
		});
		
		$('#addMeeting').click(function(e){
			var add = "@routes.Courses.newCourseMeeting(courseId)"
			$('form').attr('action', add)
		});	
		
		$("input[name='editIconInput']").click(function(e){
			var edit = "/courses/"
			edit += "@courseId"
			edit += "/meetings/"
			edit += $(this).data("meeting-to-edit")
			$('form').attr('action', edit)
		});	
		
		$("i[name='editMeeting']").click(function(e){
			var edit = "/courses/"
			edit += "@courseId"
			edit += "/meetings/"
			edit += $(this).data("meeting-to-edit")
			$('form').attr('action', edit)
			$('form').submit()
		});	
		
		$(document).ready(function(){
		    $("[rel=tooltip]").tooltip({ placement: 'bottom'});
		});
	</script>
}

<!--  @@Author(name="Lukas Pecak") -->