@(currentUser: User, role: String, courses: List[Course], users: List[User])
@import helper._
@import helper.twitterBootstrap._

@main(currentUser, role, "Lista kursów", false){
<meta charset="UTF-8">
	<div class="container panel panel-default">
		<h1 align="center">Lista kursów <span class="pull-right">@if((session.get("role") == "SuperUser") || (session.get("role") == "CourseManager")){
			<a rel="tooltip" title="Dodaj nowy kursu" href="@routes.Courses.newCourse()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Dodaj</a>
		}</span></h1>
		<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nazwa kursu</th>
					<th>Liczka kursantów</th>
					<th>Ilość spotkań</th>
					<th>Kierownik kursu</th>
					@if((session.get("role") == "SuperUser") || (session.get("role") == "CourseManager")){
						<th>Zmień</th>
						<th>Usuń</th>
					}
				</tr>
			</thead>
			<tbody>
				@if(courses.size() == 0){
					<tr>
						<td>
							<h3>Brak kursów !</h3>
						</td>
					</tr>
				}
				@for(course <- courses) {
				<tr>
					<td><a rel="tooltip" title="Zmień dane kursu" href="@routes.Courses.editCourse(course._id)"><b>@course.name</b></a></td>

					<td>@if((course != null) && (course.members_ids != null)){@course.members_ids.size()}</td>
					<td>@if((course != null) && (course.meetingHistory != null)){@course.meetingHistory.size()}</td>
					<td>@for(user <- users){
							@if(user._id == course.manager_id){
								@user.toString()
							}
						}</td>
					@if((session.get("role") == "SuperUser") || (session.get("role") == "CourseManager")){
					<td>
						<a rel="tooltip" title="Zmień dane kursu" href="@routes.Courses.editCourse(course._id)">
						<i class="glyphicon glyphicon-pencil"></i></a>
					</td>
					
					<td>
						<a rel="tooltip" title="Usuń kurs" data-toggle="modal" data-target="#confirmModal" data-course-id="@course._id" data-course-name="@course.name"> 
						<i class="glyphicon glyphicon-remove"></i></a>
					</td>
					}
				</tr>
				}
			</tbody>
		</table>
		<br>
	</div>
	
	<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            <h3 class="modal-title" id="myModalLabel">Ostrzeżenie o usunięciu kursu!</h3>
	            </div>
	            <div class="modal-body">
	                <h5>Uwaga, usunięcie jest <b>nieodwracalne</b>!<br> Czy napewno chcesz <b>usunąć</b> kurs - <b id="courseToDelete"></b>?</h5>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
	                <a  id="deleteLink" href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Usuń kurs</a>
	        </div>
	    </div>
	  </div>
	</div>
	
	<script>
		$('#confirmModal').on('show.bs.modal', function(e) {
			var courseName = $(e.relatedTarget).data('course-name');
			var courseId = "/courses/delete/";
		    courseId += $(e.relatedTarget).data('course-id');
		    $(e.currentTarget).find('b[id="courseToDelete"]').text(courseName);
		    $(e.currentTarget).find('a[id="deleteLink"]').attr("href", courseId);
		});
	</script>
}

<!--  @@Author(name="Lukas Pecak") -->