@(currentUser: User, role: String)
@main(currentUser, role, "Witamy w AKGtool !") {
	<meta charset="UTF-8">
	<div>
		<br>
	    <h1 align="center">Witamy w kliencie webowym <b>AKG</b>tool !</h1>
	    <p align="center">System zarządzania akademickimi klubami sportowymi. Aby uzyskać informacje o funkcjach systemu - prosimy o zapoznanie się z jego dokumentacją.</p>
	    <br>
	    <p align="center"><img ismap src="@routes.Assets.at("images/akgLogo.jpg")" align="center"></p>
	   	<br>
	   	
	</div>
    <div>
    
    </div>

}


<!--  @@Author(name="Lukas Pecak") -->
