@(currentUser: User, role: String, authForm: Form[Auth])
@import helper._
@import helper.twitterBootstrap._

@main(currentUser, role, "Logowanie użytkownika", false){
	<meta charset="UTF-8">
	
	<div class="container col-md-offset-4 col-md-4" align="center">
	
		<br>
		<br>
		<br>
		<br>
		<div class="panel panel-default">
			@helper.form(action = routes.Application.authenticate(), 'enctype -> "multipart/form-data") {
			<fieldset>
				<br>
				<h3  align="center"><i class="glyphicon glyphicon-user"></i> Zaloguj się :</h3>
				<br>
				<br>
				<div class=" col-md-offset-1 col-md-10">
					@helper.inputText(authForm("userName"), '_label -> "Nazwa użytkownika", '_size -> 20, 'class -> "form-control", 'placeholder -> "Podaj nazwę użytkownika", 'align -> "left", 'style -> "text-align: center;")
					@helper.inputPassword(authForm("passwordHash"), '_label -> "Hasło", '_size ->20, 'class -> "form-control", 'placeholder -> "Podaj hasło", 'style -> "text-align: center;")	
				</div>
			</fieldset>
			<br>
			<span>
				<a class="btn btn-default" href="@routes.Application.index()"> Anuluj</a>
			</span>
			<span>
				<input type="submit" class="btn btn-primary" value="Zaloguj">
			</span>
			<br><br>
	
		}
		</div>
		
	</div>
}

<!--  @@Author(name="Lukas Pecak") -->