@(currentUser: User, role: String, title: String)(content: Html)
@import helper._
@import helper.twitterBootstrap._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
		<!-- Optional theme -->
		<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")">
		<!--  JQuery scripts - needed by the bootstrap js content -->
		<script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    </head>
    <body>
    	@if(flash.containsKey("success")){
		<div class="alert alert-success alert-dismissible">
		@flash.get("success")
		</div>
		}
		@if(flash.containsKey("error")){
		<div class="alert alert-danger alert-dismissible">
		@flash.get("error")
		</div>
		}
		@if(flash.containsKey("warning")){
		<div class="alert alert-warning alert-dismissible">
		@flash.get("warning")
		</div>
		}
		
  		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="http://www.akg.krakow.pl/">
		        <img  alt="Brand" src="@routes.Assets.at("images/akgSm.png")">
		      </a>  
		      <a class="navbar-brand" href="http://www.akg.krakow.pl/"><b>AKG</b>tool</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      
		      	<!-- Defining the main page link-->
		      	<li><a href="/"><i class="glyphicon glyphicon-home"></i> Info</a></li>
		      	
		      	@if((session.get("role") == "SuperUser")){
		      	<!-- Defining the dropdown list for avalible user functions -->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> Użytkownicy <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/users/new">Nowy użytkownik</a></li><!-- Adding new user -->
		            <li class="divider"></li>
		            <li><a href="/users">Lista użytkowników</a></li><!-- Displaying the users List -->
		          </ul>
		        </li>
		        }
		        
		        @if((session.get("role") == "SuperUser") || (session.get("role") == "CourseManager")){
		        <!-- Defining the dropdown list for avalible course functions -->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-tree-conifer"></i> Kursy <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/courses/new">Nowy kurs</a></li><!-- Adding new course -->
		            <li class="divider"></li>
		            <li><a href="/courses">Lista kursów</a></li><!-- Displaying the courses List -->
		          </ul>
		        </li>
		        }
		        
		        @if((session.get("role") == "SuperUser")){
		        <!-- Defining the dropdown list for avalible warehouse functions -->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-th"></i> Magazyn <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="@routes.Equipments.newEquipment()">Dodaj sprzęt </a></li><!-- Adding new equipment to warehouse -->
		            <li><a href="@routes.Equipments.borrowEquipment()">Wypożycz sprzęt </a></li><!-- Borrow equipment from warehouse -->
		            <li><a href="@routes.Equipments.returnEquipment()">Oddaj sprzęt </a></li><!-- Return equipment to warehouse -->
		            <li class="divider"></li>
		            <li><a href="@routes.Equipments.getEquipmentsList()">Lista sprzętu</a></li><!-- Displaying the courses List -->
		            <li class="divider"></li>
		            <li><a href="@routes.Equipments.bookEquipment()">Zarezerwuj sprzęt </a></li><!-- Book equipment in warehouse -->
		          </ul>
		        </li>
		      }
		      
		      @if((session.get("role") == "SuperUser")){
		      <!-- Defining the dropdown list for avalible payment functions -->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-usd"></i> Płatności <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="/payments/new">Nowa płatność</a></li><!-- Adding new payment -->
		            <li class="divider"></li>
		            <li><a href="/payments">Lista płatności</a></li><!-- Displaying the payments List -->
		          </ul>
		        </li>
		      }
		      
		      </ul>
		      
		      
		      
		      <!-- Defining the nav-bars right side components -->
		      <ul class="nav navbar-nav navbar-right">
		        
		        @if(session.containsKey("userName")){
		        	<li><a href="/account"><i class="glyphicon glyphicon-user"></i> Moje konto</a></li><!-- User account details -->
		        }
		        
		        <!-- Defining the link for logout -->
		        @if(session.containsKey("userName")){
		        	<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Wyloguj <b>@if(currentUser != null){@currentUser.firstName @currentUser.lastName}</b></a></li><!-- User deauthentication -->
		        }
		      	
		      
		      	<!-- Defining the link for login in -->
		      	@if(!session.containsKey("userName")){
		      	<li><a href="/login"><i class="glyphicon glyphicon-log-in"></i> Zaloguj</a></li><!-- User authentication -->
		        }
		        
		        @if((session.get("role") == "SuperUser")){
		        <!-- Defining the link for access the system settings -->
		        <li><a href="/settings"><i class="glyphicon glyphicon-cog"></i></a></li><!-- Displaying the settings panel -->
		      	}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
		
   
        @content
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>

<!--  @@Author(name="Lukas Pecak") -->
